version: '3.9'

services:

  conge:
    build: ./gestionconge
    image: ikramdhib/conge
    container_name: congeContainer
    ports:
      - "8087:8087"
    depends_on:
      - db-mysql
      - eureka-server
      - configserver
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
      - SPRING_DATASOURCE_URL=jdbc:mysql://db-mysql:3306/gestionconge?&createDatabaseIfNotExist=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root  
      - SPRING_DATASOURCE_PASSWORD=root
    
  gestprojet:
    build: ./MSGestProject
    image: ikramdhib/gestprojet
    container_name: gestprojet
    ports:
      - "8088:8088"
    depends_on:
      - eureka-server
      - configserver
      - nodeproject
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
      - SPRING_CLOUD_CONFIG_URI=http://configserver:8888
    volumes:
      - gestprojet-data:/data/h2db/Project
      
  gestdepartment:
    build: ./MSGestionDept
    image: ikramdhib/gestdepartment
    container_name: gestdepartment
    ports:
      - "8089:8089"
    depends_on:
      - eureka-server
      - configserver
      - nodeproject
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
    volumes:
      - gestdepartment-data:/data

  gestcours:
    build: ./cours-service
    image: ikramdhib/gestcours
    container_name: gestcours
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - configserver
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
    volumes:
      - gestcours-data:/data

  gestjobs:
    build: ./RecruitmentMS
    image: ikramdhib/gestjobs
    container_name: gestjobs
    ports:
      - "8086:8086"
    depends_on:
      - db-mysql
      - eureka-server
      - configserver
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
      - SPRING_DATASOURCE_URL=jdbc:mysql://db-mysql:3306/gestionconge?&createDatabaseIfNotExist=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root  
      - SPRING_DATASOURCE_PASSWORD=root
    
  nodeproject:
    build: ./NodeProject 
    image: ikramdhib/nodeproject
    container_name: nodeproject
    ports:
      - "5000:5000"  
    depends_on:
      - eureka-server
      - db-postgres  
    environment:
      - EUREKA_SERVER_URL=http://eureka-server:8761/eureka
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-postgres:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=root
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_REALM=HR-realm
      - KEYCLOAK_CLIENT_ID=api-gateway-client
      - KEYCLOAK_CLIENT_SECRET=tpTOfaWvPPioiCSYs9WpgmOuwVR0SedN
    
  angular-app:
    build: ./angular-prime-ng-template-master
    image: ikramdhib/sakai-ng
    container_name: sakai-ng
    ports:
      - "4200:80"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    container_name: keycloak
    command: "start-dev"
    restart: unless-stopped
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak-data:/opt/keycloak/data 

  eureka-server:
    build: ./EurekaServer
    image: ikramdhib/eureka-server
    container_name: eurekaContainer
    ports:
      - "8761:8761"

  configserver:
    build: ./ConfigServer
    image: ikramdhib/configserver
    container_name: configserver
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI=https://github.com/ikramdhib/HRMicroserviceProject5SAE2.git
      - SPRING_CLOUD_CONFIG_SERVER_GIT_SEARCH_PATHS=configFiles
      
  api-gateway:
    build: ./ApiGateway
    image: ikramdhib/apigateway
    container_name: apigatewayContainer
    ports:
      - "8056:8056"
    depends_on:
      - eureka-server
      - keycloak
      - nodeproject
      - gestjobs
      - gestcours
      - gestdepartment
      - gestprojet
      - conge
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_REALM=HR-realm
      - KEYCLOAK_CLIENT_ID=api-gateway-client
      - KEYCLOAK_CLIENT_SECRET=tpTOfaWvPPioiCSYs9WpgmOuwVR0SedN

  db-mysql:
    image: "mysql:latest"
    container_name: db-mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=gestionconge
    volumes:
      - mysql-data:/var/lib/mysql
  
  db-postgres:
    image: "postgres:latest"
    container_name: db-postgres
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=postgres 
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  keycloak-data:
    driver: local
  mysql-data:  
    driver: local
  gestcours-data:
    driver: local
  gestdepartment-data:
    driver: local
  gestprojet-data:
    driver: local