.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table-filter {
    display: flex;
    align-items: center;
  }
  
  .p-mr-2 {
    margin-right: 10px;
  }
  
  .card {
    padding: 20px;
  }
  
  p-table {
    margin-top: 20px;
  }
  