<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Vos Projets</h5>
			<p-table [value]="products" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
				
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem"></th>
						<th pSortableColumn="name">Titre de projet </th>
						<th pSortableColumn="price">Description </th>
						<th pSortableColumn="category">Responsable de projet </th>
						<th pSortableColumn="rating">Date de debut </th>
						<th pSortableColumn="inventoryStatus">Date de fin </th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product let-expanded="expanded">
					<tr (click)="expandRow(product.id)" >
						<td>
							<button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
						</td>
						<td style="min-width: 12rem;">{{product.titre}}</td>
						<td style="min-width: 8rem;">{{product.detailles}}</td>
						<td style="min-width: 10rem;">{{product.equipe.responsable.nomComplet}}</td>
						<td style="min-width: 10rem;"> {{ product.dateDebut | date: 'MM/dd/yyyy'}} </td>
						<td style="min-width: 10rem;">{{ product.dateDebut | date: 'MM/dd/yyyy'}}</td>
						<td><button pButton pRipple (click)="naviguerAvecId(product.id)" type="button" icon="pi pi-sitemap"  class="p-button-rounded p-button-success p-button-outlined mr-2 mb-2"></button></td>

					</tr>
				</ng-template>
				<ng-template pTemplate="rowexpansion" let-product>
					<tr>
						<td colspan="7">
							<div class="p-3">
								<p-table [value]="product.taches" dataKey="id" responsiveLayout="scroll">
									<ng-template pTemplate="header">
					<tr>
						<th >Titre de tache </th>
						<th pSortableColumn="customer">Detaille </th>
						<th pSortableColumn="date">Responsable de tache</th>
						<th pSortableColumn="stats">Status </th>
							
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-order>
					<tr>
						<td>{{order.titre}}</td>
						<td>{{order.detail}}</td>
						<td>{{order.user.nomComplet}}</td>
						<td><span *ngIf="order.status === 'EN_COUR'" class="customer-badge status-new">{{ order.status }}</span>
                            <span *ngIf="order.status === 'TERMINER'" class="customer-badge status-unqualified">{{ order.status }}</span>
                            <span *ngIf="order.status === 'PLANIFIER'" class="customer-badge status-renewal">{{ order.status }}</span></td>
                            
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="6">There are no order for this product yet.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
		</td>
		</tr>
		</ng-template>
		</p-table>
	</div>
	</div>
    <div class="col-12">
        <div class="card">
            <h5>Vos equipes</h5>
            <p-table [value]="customers3" rowGroupMode="subheader" groupRowsBy="titre" sortField="titre" sortMode="single" (onSort)="onSort()" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="table-header">Nom d'equipe</th>
                        <th class="table-header">Nom du membre</th>
                        <th class="table-header">Email du memebre</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-team let-rowIndex="rowIndex">
                    <!-- Group Header for each Team -->
                    <tr pRowGroupHeader *ngIf="rowGroupMetadata[team.titre].index === rowIndex">
                        <td colspan="3" class="team-header">
                            {{ team.titre }}
                        </td>
                    </tr>
                    <!-- List all members of the team -->
                    <tr *ngFor="let user of team.users">
                        <td></td> <!-- Empty column for alignment -->
                        <td class="member-name">{{ user.nomComplet }}</td>
                        <td class="member-email">{{ user.email }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
