<div class="grid  p-fluid">
  <!-- Section for Creating a New Job Offer -->
  <div class="col-12">
    <div class="card ">
      <h5>Create a New Job Offer</h5>
      <form (ngSubmit)="onSubmit()" #jobOfferForm="ngForm">
        <div class="p-field col-12">
          <label for="title">Title</label>
          <input id="title" name="title" [(ngModel)]="newJobOffer.title" pInputText required />
        </div>
        <div class="p-field col-12">
          <label for="description">Description</label>
          <textarea id="description" name="description" [(ngModel)]="newJobOffer.description" pInputTextarea required></textarea>
        </div>
        <div class="p-field col-12">
          <label for="experience">Experience Required (in years)</label>
          <input id="experience" name="experience" [(ngModel)]="newJobOffer.nbreExperience" type="number" pInputText required />
        </div>
        <div class="p-field col-12">
          <label for="endDate">End Date</label>
          <input id="endDate" name="endDate" [(ngModel)]="newJobOffer.dateFin" type="date" pInputText required />
        </div>
        <div class="p-field col-12">
          <label for="salary">Salary</label>
          <input id="salary" name="salary" [(ngModel)]="newJobOffer.salary" type="number" pInputText required />
        </div>
        <button pButton type="submit" label="Create Job Offer" [disabled]="!jobOfferForm.valid"></button>
      </form>
    </div>
  </div>
</div>