<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>List of Projects</h5>
		
		<p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle" message="Are you sure you want to proceed?"
            [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
		<p-table #dt1 [value]="projects" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
				 styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['titre', 'detailles', 'dateDebut', 'dateFin']"
				 responsiveLayout="scroll">
		  <ng-template pTemplate="caption">
			<div class="flex justify-content-between flex-column sm:flex-row">
			  <span class="p-input-icon-left mb-2">
				<i class="pi pi-search"></i>
				<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
			  </span>
			</div>
		  </ng-template>
		  <ng-template pTemplate="header">
			<tr>
			  <th>Titre de projet</th>
			  <th>Description</th>
			  <th>Date début</th>
			  <th>Date de fin</th>
			  <th>TNom d'équipe</th>
			  <th>Responsable de Projet</th>
			  <th>Actions</th>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="body" let-project>
			<tr>
			  <td style="min-width: 12rem;">{{ project.titre }}</td>
			  <td style="min-width: 12rem;">{{ project.detailles }}</td>
			  <td style="min-width: 14rem;">{{ project.dateDebut | date: 'MM/dd/yyyy' }}</td>
			  <td style="min-width: 10rem;">{{ project.dateFin | date: 'MM/dd/yyyy' }}</td>
			  <td style="min-width: 10rem;">{{ project.equipe.titre }}</td>
			  <td style="min-width: 12rem;">{{ project.responsable.username }}</td>
			  <td style="min-width: 12rem;">
				<button pButton pRipple type="button" icon="pi pi-pencil" (click)="openDialog(project)" class="p-button-rounded p-button-outlined mr-2 mb-2"></button>
				<button pButton pRipple type="button" icon="pi pi-trash" (click)="confirm1(project.id)" class="p-button-rounded p-button-danger p-button-outlined mr-2 mb-2"></button>
				<button pButton pRipple type="button" icon="pi pi-sitemap" (click)="naviguerAvecId(project.id)" class="p-button-rounded p-button-success p-button-outlined mr-2 mb-2"></button>
				<p-toast></p-toast>
			  </td>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="emptymessage">
			<tr>
			  <td colspan="7">No projects found.</td>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="loadingbody">
			<tr>
			  <td colspan="7">Loading project data. Please wait.</td>
			</tr>
		  </ng-template>
		</p-table>
	  </div>
	</div>
  </div>
  